name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # Run manually
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: nipuna-lakruwan
          template: classic
          base: ""
          config_timezone: Asia/Colombo
          
          # Repositories Plugin: Show latest pushed code
          plugin_repositories: yes
          plugin_repositories_order: pushed
          plugin_repositories_pinned: 0
          plugin_repositories_limit: 4
