name: GitHub-Profile-3D-Contrib

on:
  schedule: # 03:00 JST == 18:00 UTC
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v3
      
      # FIX: Updated version to 0.8.0 and ensured correct spelling
      - uses: yoshi3891/github-profile-3d-contrib@0.8.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          
      - name: Commit & Push
        run: |
          # Uses your real identity for the Green Graph
          git config user.name "Nipuna Lakruwan"
          git config user.email "senarath.lakruwan@gmail.com"
          git add -A .
          git commit -m "generated"
          git push
